* {
    margin: 0;
    padding: 0;
}

#mainForm {
    background-color:#999999;
}

#btn-calc {
    background-image:#999999;
}

.p-5{
    background-color: #696066;
    background-size: cover;
}
header
{
    max-width: 100%;
    background-color:#b8b4b4;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    position: relative;
}

.head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.headerer
{
    width: 100%;
}
.name-project {
    margin: 20px;
}
.logo
{
    width: 100px;
    height: 100px;
    margin: 10px;
}
header h1
{
    color: white;
    text-align: center;
    font-size: 30px;
}
