* {
    margin: 0;
    padding: 0;
}

#mainForm {
    background-color:#999999;
}

#btn-calc {
    background-image:#999999;
}

body{
    background-image: https://alterainvest.ru/upload/iblock/f69/f69d60dc9af1a912b6cdc14153e04f65.jpg;
}
